{% extends 'base.html' %}

{% block breadcrumbs %}
  {% with post.tags.all as tags %}
    {% if tags %}
      <ul class="tags-list">
        <li>Tags:</li>
        {% for tag in tags %}
          <li><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></li>
        {%endfor%}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block content %}
<h1>{{title}}</h1>

{% if post.photo %}
  <p><img src="{{post.photo.url}}" class="img-article-left"></p>
{% endif %}

{{post.content|linebreaks}}
{% endblock %}
